<div style="width: 800px;">
    <h1>Dynamic Angular Component - Richer Example</h1>
    <ag-grid-angular style="width: 100%; height: 350px;" class="ag-fresh"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="row">
        <div class="col-sm-12"><h1>Dynamic Angular Component - Richer Example</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>This example demonstrates Dynamic Angular Components with ag-Grid with nested <code>NgModules</code>. Functionally similar
            to the <a routerLink="/from-component">Dynamic Angular Components Example</a> but demonstrating how the Angular Components within the Grid can
            be modular too.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Angular Functionality</h4>
                    <p class="card-text">Utilise Angular Components within ag-Grid</p>
                    <a target="_blank" href="https://www.ag-grid.com/best-angular-2-data-grid/?framework=angular" class="btn btn-primary">Angular with ag-Grid</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-cell-rendering-components/?framework=angular" class="btn btn-primary">Angular Renderers</a>
                    <a target="_blank" href="https://www.ag-grid.com/angular-more-details/#parent_child" class="btn btn-primary">Parent/Child Communication</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-data-update/" class="btn btn-primary">Updating Data</a>
                </div>
            </div>
        </div>
    </div>
</div>