<div style="width: 800px;">
    <h1>Cell Editor Component Example</h1>
    <ag-grid-angular style="width: 100%; height: 350px;" class="ag-fresh"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="row">
        <div class="col-sm-12"><h1>Cell Editor Component Example</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>This example demonstrates Angular Editor Components within ag-Grid, as well as an example using the built in Rich Select editor.</h5>
            <p><span style="font-weight: 500">Name</span>: Utilises the built in <code>RichSelect</code> editor</p>
            <p><span style="font-weight: 500">Mood</span>: A Custom Angular Editor demonstrating popup functionality, with full keyboard control.</p>
            <p><span style="font-weight: 500">Numeric</span>: A Custom Angular Editor demonstrating pre & post validation. Only numeric characters are allowed,
                and numbers greater than 1000000 will be rejected.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Angular Functionality</h4>
                    <p class="card-text">Utilise Angular Components within ag-Grid</p>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-cell-editing/?framework=angular" class="btn btn-primary">Cell Editing</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-cell-editor/?framework=angular" class="btn btn-primary">Editor Components</a>
                    <a target="_blank" href="https://www.ag-grid.com/best-angular-2-data-grid/?framework=angular" class="btn btn-primary">Angular with ag-Grid</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-cell-editor/?framework=angular#ng2CellEditing" class="btn btn-primary">Angular Editor Components</a>
                </div>
            </div>
        </div>
    </div>
</div>