<div style="display: inline-block; width: 100%">
    <div style="float:left;width: 335px;margin-right: 25px">
        <ul class="nav nav-pills nav-stacked">
            <ng-template ngFor let-route [ngForOf]="this.router.config">
                <li role="presentation" routerLinkActive="active" *ngIf="route.path !== ''">
                    <a routerLink="{{'/' + route.path}}">{{route.data.title}}</a>
                </li>
            </ng-template>
        </ul>
    </div>
    <div style="float:left;">
        <router-outlet></router-outlet>
    </div>
</div>




