<div style="width: 800px;">
    <h1>Dynamic Angular Component Example</h1>
    <button (click)="refreshEvenRowsCurrencyData()" style="margin-bottom: 10px" class="btn btn-primary">Refresh Even Row Currency Data</button>
    <ag-grid-angular style="width: 100%; height: 350px;" class="ag-theme-balham"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="row">
        <div class="col-sm-12"><h1>Dynamic Angular Component Example</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>This example demonstrates Dynamic Angular Components with ag-Grid, Parent/Child Communication (cell component to parent grid component), as well as
                dynamic data updates of the <code>Currency</code> column.</h5>
            <p><span style="font-weight: 500">Square, Cube, Row Params, Currency and Child/Parent</span>: Angular Components within the Grid</p>
            <p><span style="font-weight: 500">Currency (Pipe)</span>: An Angular Component utilising the Currency Pipe, dynamically updated with the button above.</p>
            <p><span style="font-weight: 500">Child/Parent</span>: Demonstrates the Child Cell Component communicating with the Parent Grid Component.</p>
            <p><span style="font-weight: 500">Refresh Even Row Currency Data</span>: Dynamically Updates Event Rows Currency Value. Only the Currency column will be re-rendered.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Angular Functionality</h4>
                    <p class="card-text">Utilise Angular Components within ag-Grid</p>
                    <a target="_blank" href="https://www.ag-grid.com/best-angular-2-data-grid/?framework=angular" class="btn btn-primary">Angular with ag-Grid</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-cell-rendering-components/?framework=angular" class="btn btn-primary">Angular Renderers</a>
                    <a target="_blank" href="https://www.ag-grid.com/angular-more-details/#parent_child" class="btn btn-primary">Parent/Child Communication</a>
                    <a target="_blank" href="https://www.ag-grid.com/javascript-grid-data-update/" class="btn btn-primary">Updating Data</a>
                </div>
            </div>
        </div>
    </div>
</div>